*{
  margin: 0px;
  padding: 0px;
}

html, body{
  width: 100%;
  height: 100%;
}

.app {
  overflow: auto;
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-columns: 5% 1fr 20%;
  grid-template-areas: 
      "header header header"
      "nav imageView imageQueue"
      "footer footer footer";

  grid-gap: 1vh;
  min-height: 100%;
  background-color: rgb(229, 241, 248);

  left: 0px;
  right: 0px;
  margin: 0 auto;
  border: 1px solid green;
}

.app header {
  grid-area: header;
  border: 1px solid red;
}

.app nav {
  grid-area: nav;
  border: 1px solid blue;
}

.app .imageView {
  grid-area: imageView;
  border: 1px solid yellow;
}

.app .imageQueue {
  grid-area: imageQueue;
  border: 1px solid pink;
  overflow: hidden;
  overflow-y: auto;
}

.app footer {
  grid-area: footer;
  border: 1px solid rgb(24, 194, 216);
}

ul{
  position: relative;
}

li{
  text-align: center;
}

ul > li.standardListItem{
  list-style: none;
  padding: 10px;
  margin: 10px;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

ul:hover li.standardListItem{

  /*filter: blur(1px);*/
  opacity: 0.8;
}

ul > li.standardListItem:hover{
  transform: scale(1.02);
  background-color: #25bcff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  filter: none;
  border-radius: 20px;
  opacity: 1;
  font-size: large;
}

li.glassListItem{
  list-style: none;
}